schema/1.0/tei.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns="http://www.tei-c.org/ns/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <a:documentation> Schema to validate 84000 TEI files </a:documentation>
    <rng:start>
        <rng:ref name="TEI"/>
    </rng:start>
    <rng:define name="TEI">
        <rng:element name="TEI" ns="http://www.tei-c.org/ns/1.0">
            <!-- teiHeader -->
            <rng:element name="teiHeader">
                <!-- fileDesc -->
                <rng:element name="fileDesc">
                    <!-- titleStmt -->
                    <rng:element name="titleStmt">
                        <!-- titles -->
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>mainTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">bo</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>mainTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">en</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>mainTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">Sa-Ltn</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <!-- long titles -->
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>longTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">bo</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>longTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">Bo-Ltn</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>longTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">en</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:element name="title">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>longTitle</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:value type="language">Sa-Ltn</rng:value>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <!-- authors -->
                        <rng:oneOrMore>
                            <rng:element name="author">
                                <rng:attribute name="role">
                                    <rng:choice>
                                        <rng:value>translatorMain</rng:value>
                                        <rng:value>translatorEng</rng:value>
                                        <rng:value>translator</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:text/>
                                        <rng:element name="lb">
                                            <rng:ref name="lb"/>
                                        </rng:element>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </rng:element>
                        </rng:oneOrMore>
                        <!-- editors -->
                        <rng:zeroOrMore>
                            <rng:element name="editor">
                                <rng:attribute name="role">
                                    <rng:choice>
                                        <rng:value>editorEng</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:text/>
                                        <rng:element name="lb">
                                            <rng:ref name="lb"/>
                                        </rng:element>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </rng:element>
                        </rng:zeroOrMore>
                        <!-- assertions -->
                    </rng:element>
                    <!-- editionStmt -->
                    <rng:element name="editionStmt">
                        <rng:element name="edition">
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:element name="date">
                                        <rng:text/>
                                    </rng:element>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </rng:element>
                    </rng:element>
                    <!-- publicationStmt -->
                    <rng:element name="publicationStmt">
                        <!-- publisher -->
                        <rng:element name="publisher">
                            <rng:oneOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:optional>
                                        <rng:element name="name">
                                            <rng:text/>
                                        </rng:element>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:element name="lb">
                                            <rng:ref name="lb"/>
                                        </rng:element>
                                    </rng:zeroOrMore>
                                    <rng:zeroOrMore>
                                        <rng:element name="emph">
                                            <rng:data type="string"/>
                                        </rng:element>
                                    </rng:zeroOrMore>
                                </rng:choice>
                            </rng:oneOrMore>
                        </rng:element>
                        <!-- availability -->
                        <rng:element name="availability">
                            <!-- licence -->
                            <rng:element name="licence">
                                <rng:element name="graphic">
                                    <rng:attribute name="url"/>
                                </rng:element>
                                <rng:element name="p">
                                    <rng:ref name="paragraph"/>
                                </rng:element>
                            </rng:element>
                        </rng:element>
                        <!-- idno -->
                        <rng:element name="idno">
                            <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
                                <rng:text/>
                            </rng:attribute>
                        </rng:element>
                        <!-- date -->
                        <rng:element name="date">
                            <rng:data type="integer">
                                <rng:param name="minInclusive">2010</rng:param>
                                <rng:param name="maxInclusive">2020</rng:param>
                            </rng:data>
                        </rng:element>
                    </rng:element>
                    <!-- sourceDesc -->
                    <rng:element name="sourceDesc">
                        <!-- bibl -->
                        <rng:element name="bibl">
                            <rng:element name="ref">
                                <rng:data type="string"/>
                            </rng:element>
                            <rng:text/>
                            <rng:element name="biblScope">
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:text/>
                                        <rng:element name="lb">
                                            <rng:ref name="lb"/>
                                        </rng:element>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </rng:element>
                            <rng:optional>
                                <rng:element name="series">
                                    <rng:data type="string"/>
                                </rng:element>
                            </rng:optional>
                            <rng:optional>
                                <rng:element name="citedRange">
                                    <rng:data type="string"/>
                                </rng:element>
                            </rng:optional>
                            <rng:zeroOrMore>
                                <rng:element name="author">
                                    <rng:attribute name="role">
                                        <rng:choice>
                                            <rng:value>translatorTib</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:text/>
                                </rng:element>
                            </rng:zeroOrMore>
                        </rng:element>
                    </rng:element>
                    <!-- notesStmt -->
                    <rng:optional>
                        <rng:element name="notesStmt">
                            <rng:zeroOrMore>
                                <rng:element name="note">
                                    <rng:optional>
                                        <rng:attribute name="type">
                                            <rng:choice>
                                                <rng:value>lastUpdated</rng:value>
                                            </rng:choice>
                                        </rng:attribute>
                                    </rng:optional>
                                    <rng:text/>
                                </rng:element>
                            </rng:zeroOrMore>
                        </rng:element>
                    </rng:optional>
                </rng:element>
            </rng:element>
            <!-- text -->
            <rng:element name="text">
                <!-- front -->
                <rng:element name="front">
                    <!-- summary -->
                    <rng:element name="div">
                        <rng:attribute name="type">
                            <rng:choice>
                                <rng:value>summary</rng:value>
                            </rng:choice>
                        </rng:attribute>
                        <rng:oneOrMore>
                            <rng:choice>
                                <rng:element name="head">
                                    <rng:attribute name="type">
                                        <rng:choice>
                                            <rng:value>summary</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:text/>
                                </rng:element>
                                <rng:zeroOrMore>
                                    <rng:element name="milestone">
                                        <rng:ref name="milestone"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="p">
                                        <rng:ref name="paragraph"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lg">
                                        <rng:ref name="lg"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:choice>
                        </rng:oneOrMore>
                    </rng:element>
                    <!-- acknowledgment -->
                    <rng:element name="div">
                        <rng:attribute name="type">
                            <rng:choice>
                                <rng:value>acknowledgment</rng:value>
                            </rng:choice>
                        </rng:attribute>
                        <rng:oneOrMore>
                            <rng:choice>
                                <rng:element name="head">
                                    <rng:attribute name="type">
                                        <rng:choice>
                                            <rng:value>acknowledgment</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:text/>
                                </rng:element>
                                <rng:zeroOrMore>
                                    <rng:element name="milestone">
                                        <rng:ref name="milestone"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="p">
                                        <rng:ref name="paragraph"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lg">
                                        <rng:ref name="lg"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:choice>
                        </rng:oneOrMore>
                    </rng:element>
                    <!-- introduction -->
                    <rng:element name="div">
                        <rng:attribute name="type">
                            <rng:choice>
                                <rng:value>introduction</rng:value>
                            </rng:choice>
                        </rng:attribute>
                        <rng:oneOrMore>
                            <rng:choice>
                                <rng:element name="head">
                                    <rng:attribute name="type">
                                        <rng:choice>
                                            <rng:value>introduction</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:text/>
                                </rng:element>
                                <rng:zeroOrMore>
                                    <rng:element name="milestone">
                                        <rng:ref name="milestone"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="p">
                                        <rng:ref name="paragraph"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="ptr">
                                        <rng:ref name="ptr"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="ab">
                                        <rng:ref name="ab"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lg">
                                        <rng:ref name="lg"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lb">
                                        <rng:ref name="lb"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <!-- sections -->
                                <rng:zeroOrMore>
                                    <rng:element name="div">
                                        <rng:attribute name="type">
                                            <rng:choice>
                                                <rng:value>section</rng:value>
                                            </rng:choice>
                                        </rng:attribute>
                                        <rng:oneOrMore>
                                            <rng:choice>
                                                <rng:optional>
                                                  <rng:element name="head">
                                                  <rng:attribute name="type">
                                                  <rng:choice>
                                                  <rng:value>section</rng:value>
                                                  </rng:choice>
                                                  </rng:attribute>
                                                  <rng:text/>
                                                  </rng:element>
                                                </rng:optional>
                                                <rng:zeroOrMore>
                                                  <rng:element name="milestone">
                                                  <rng:ref name="milestone"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                                <rng:zeroOrMore>
                                                  <rng:element name="p">
                                                  <rng:ref name="paragraph"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                                <rng:zeroOrMore>
                                                  <rng:element name="ab">
                                                  <rng:ref name="ab"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                                <rng:zeroOrMore>
                                                  <rng:element name="q">
                                                  <rng:ref name="q"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                                <rng:zeroOrMore>
                                                  <rng:element name="lb">
                                                  <rng:ref name="lb"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                                <rng:zeroOrMore>
                                                  <rng:element name="list">
                                                  <rng:ref name="list"/>
                                                  </rng:element>
                                                </rng:zeroOrMore>
                                            </rng:choice>
                                        </rng:oneOrMore>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:choice>
                        </rng:oneOrMore>
                    </rng:element>
                </rng:element>
                <!-- body -->
                <rng:element name="body">
                    <!-- translation -->
                    <rng:element name="div">
                        <rng:attribute name="type">
                            <rng:choice>
                                <rng:value>translation</rng:value>
                            </rng:choice>
                        </rng:attribute>
                        <rng:element name="head">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>translation</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:optional>
                            <rng:element name="head">
                                <rng:attribute name="type">
                                    <rng:choice>
                                        <rng:value>titleHon</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <rng:text/>
                            </rng:element>
                        </rng:optional>
                        <rng:element name="head">
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>titleMain</rng:value>
                                </rng:choice>
                            </rng:attribute>
                            <rng:text/>
                        </rng:element>
                        <rng:zeroOrMore>
                            <rng:element name="div">
                                <rng:ref name="translation-section"/>
                            </rng:element>
                        </rng:zeroOrMore>
                        <rng:zeroOrMore>
                            <rng:element name="div">
                                <rng:ref name="translation-chapter"/>
                            </rng:element>
                        </rng:zeroOrMore>
                        <rng:zeroOrMore>
                            <rng:element name="div">
                                <rng:attribute name="type">
                                    <rng:choice>
                                        <rng:value>colophon</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <rng:oneOrMore>
                                    <rng:choice>
                                        <rng:optional>
                                            <rng:element name="head">
                                                <rng:attribute name="type">
                                                  <rng:choice>
                                                  <rng:value>colophon</rng:value>
                                                  </rng:choice>
                                                </rng:attribute>
                                                <rng:text/>
                                            </rng:element>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                            <rng:element name="milestone">
                                                <rng:ref name="milestone"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="p">
                                                <rng:ref name="paragraph"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="ab">
                                                <rng:ref name="ab"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="q">
                                                <rng:ref name="q"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="lg">
                                                <rng:ref name="lg"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="trailer">
                                                <rng:ref name="trailer"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="list">
                                                <rng:ref name="list"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:element name="label">
                                                <rng:data type="string"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                        <!-- sections -->
                                        <rng:zeroOrMore>
                                            <rng:element name="div">
                                                <rng:ref name="translation-section"/>
                                            </rng:element>
                                        </rng:zeroOrMore>
                                    </rng:choice>
                                </rng:oneOrMore>
                            </rng:element>
                        </rng:zeroOrMore>
                    </rng:element>
                </rng:element>
                <!-- back -->
                <rng:element name="back">
                    <!-- notes -->
                    <rng:oneOrMore>
                        <rng:choice>
                            <rng:optional>
                                <rng:element name="div">
                                    <rng:attribute name="type">
                                        <rng:choice>
                                            <rng:value>notes</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:optional>
                                        <rng:element name="head">
                                            <rng:attribute name="type">
                                                <rng:choice>
                                                  <rng:value>notes</rng:value>
                                                </rng:choice>
                                            </rng:attribute>
                                            <rng:text/>
                                        </rng:element>
                                    </rng:optional>
                                    <!-- abbreviations -->
                                    <rng:optional>
                                        <!-- Should this be optional? -->
                                        <rng:element name="list">
                                            <rng:optional>
                                                <rng:attribute name="type">
                                                  <rng:choice>
                                                  <rng:value>abbreviations</rng:value>
                                                  </rng:choice>
                                                </rng:attribute>
                                            </rng:optional>
                                            <rng:optional>
                                                <rng:element name="head">
                                                  <rng:data type="string"/>
                                                </rng:element>
                                            </rng:optional>
                                            <rng:oneOrMore>
                                                <!-- item -->
                                                <rng:element name="item">
                                                  <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
                                                  <rng:text/>
                                                  </rng:attribute>
                                                    <rng:text/>
                                                  <!-- abbr -->
                                                  <rng:optional>
                                                  <rng:element name="abbr">
                                                  <rng:data type="string"/>
                                                  </rng:element>
                                                  </rng:optional>
                                                  <!-- expan -->
                                                  <rng:optional>
                                                  <rng:element name="expan">
                                                  <rng:oneOrMore>
                                                  <rng:choice>
                                                  <rng:zeroOrMore>
                                                  <rng:element name="foreign">
                                                  <rng:ref name="foreign"/>
                                                  </rng:element>
                                                  </rng:zeroOrMore>
                                                  <rng:text/>
                                                  </rng:choice>
                                                  </rng:oneOrMore>
                                                  </rng:element>
                                                  </rng:optional>
                                                </rng:element>
                                            </rng:oneOrMore>
                                        </rng:element>
                                    </rng:optional>
                                </rng:element>
                            </rng:optional>
                            <!-- bibliography -->
                            <rng:element name="div">
                                <rng:attribute name="type">
                                    <rng:choice>
                                        <rng:value>listBibl</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <!-- head -->
                                <rng:optional>
                                    <!-- Should this be optional? -->
                                    <rng:element name="head">
                                        <rng:attribute name="type">
                                            <rng:choice>
                                                <rng:value>listBibl</rng:value>
                                            </rng:choice>
                                        </rng:attribute>
                                        <rng:text/>
                                    </rng:element>
                                </rng:optional>
                                <!-- section -->
                                <rng:zeroOrMore>
                                    <rng:element name="div">
                                        <rng:ref name="bibliography-section"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:element>
                            <!-- glossary -->
                            <rng:element name="div">
                                <rng:attribute name="type">
                                    <rng:choice>
                                        <rng:value>glossary</rng:value>
                                    </rng:choice>
                                </rng:attribute>
                                <rng:optional>
                                    <rng:element name="head">
                                        <rng:attribute name="type">
                                            <rng:choice>
                                                <rng:value>glossary</rng:value>
                                            </rng:choice>
                                        </rng:attribute>
                                    </rng:element>
                                </rng:optional>
                                <!-- list -->
                                <rng:optional>
                                    <!-- Should this be optional? -->
                                    <rng:element name="list">
                                        <rng:oneOrMore>
                                            <rng:element name="item">
                                                <rng:optional>
                                                  <rng:element name="gloss">
                                                  <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
                                                    <rng:text/>
                                                  </rng:attribute>
                                                  <rng:attribute name="type">
                                                    <rng:choice>
                                                        <rng:value>term</rng:value>
                                                        <rng:value>person</rng:value>
                                                        <rng:value>place</rng:value>
                                                        <rng:value>text</rng:value>
                                                    </rng:choice>
                                                  </rng:attribute>
                                                  <rng:attribute name="priority">
                                                    <rng:data type="integer"/>
                                                  </rng:attribute>
                                                  <rng:optional>
                                                      <rng:attribute name="mode">
                                                          <rng:choice>
                                                              <rng:value>marked</rng:value>
                                                              <rng:value>match</rng:value>
                                                          </rng:choice>
                                                      </rng:attribute>
                                                  </rng:optional>
                                                  <!-- term -->
                                                  <rng:oneOrMore>
                                                      <rng:element name="term">
                                                         <rng:oneOrMore>
                                                           <rng:choice>
                                                             <rng:text/>
                                                               <rng:zeroOrMore>
                                                                   <rng:element name="foreign">
                                                                       <rng:ref name="foreign"/>
                                                                   </rng:element>
                                                               </rng:zeroOrMore>
                                                               <rng:zeroOrMore>
                                                                   <rng:element name="title">
                                                                       <rng:ref name="title"/>
                                                                   </rng:element>
                                                               </rng:zeroOrMore>
                                                               <rng:zeroOrMore>
                                                                   <rng:element name="emph">
                                                                       <rng:data type="string"/>
                                                                   </rng:element>
                                                               </rng:zeroOrMore>
                                                               <rng:zeroOrMore>
                                                                   <rng:element name="ptr">
                                                                       <rng:ref name="ptr"/>
                                                                   </rng:element>
                                                               </rng:zeroOrMore>
                                                           </rng:choice>
                                                         </rng:oneOrMore>
                                                         <rng:optional>
                                                           <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                                                               <rng:choice>
                                                                   <rng:value type="language">en</rng:value>
                                                                   <rng:value type="language">Bo-Ltn</rng:value>
                                                                   <rng:value type="language">bo</rng:value>
                                                                   <rng:value type="language">Sa-Ltn</rng:value>
                                                                   <rng:value type="language">la</rng:value>
                                                                   <rng:value type="language">pi</rng:value>
                                                                   <rng:value type="language">zh</rng:value>
                                                                   <rng:value type="language">fr</rng:value>
                                                                   <rng:value type="language">de</rng:value>
                                                                   <rng:value type="language">ja</rng:value>
                                                                   <rng:value type="language">it</rng:value>
                                                                   <rng:value type="language">el</rng:value>
                                                                   <rng:value type="language">th</rng:value>
                                                               </rng:choice>
                                                           </rng:attribute>
                                                         </rng:optional>
                                                         <rng:optional>
                                                           <rng:attribute name="type">
                                                             <rng:choice>
                                                             <rng:value>definition</rng:value>
                                                             <rng:value>alternative</rng:value>
                                                             </rng:choice>
                                                           </rng:attribute>
                                                         </rng:optional>
                                                        </rng:element>
                                                    </rng:oneOrMore>
                                                  </rng:element>
                                                </rng:optional>
                                            </rng:element>
                                        </rng:oneOrMore>
                                        <rng:optional>
                                            <rng:attribute name="type"/>
                                        </rng:optional>
                                    </rng:element>
                                </rng:optional>
                            </rng:element>
                            <!-- appendix -->
                            <rng:optional>
                                <rng:element name="div">
                                    <rng:attribute name="type">
                                        <rng:choice>
                                            <rng:value>appendix</rng:value>
                                        </rng:choice>
                                    </rng:attribute>
                                    <rng:optional>
                                        <rng:element name="head">
                                            <rng:attribute name="type">
                                                <rng:choice>
                                                  <rng:value>appendix</rng:value>
                                                </rng:choice>
                                            </rng:attribute>
                                            <rng:text/>
                                        </rng:element>
                                        <rng:element name="head">
                                            <rng:attribute name="type">
                                                <rng:choice>
                                                    <rng:value>titleMain</rng:value>
                                                </rng:choice>
                                            </rng:attribute>
                                            <rng:text/>
                                        </rng:element>
                                    </rng:optional>
                                    <rng:element name="div">
                                        <rng:ref name="translation-section"/>
                                    </rng:element>
                                    <rng:oneOrMore>
                                        <rng:element name="div">
                                            <rng:ref name="translation-chapter"/>
                                        </rng:element>
                                    </rng:oneOrMore>
                                </rng:element>
                            </rng:optional>
                        </rng:choice>
                    </rng:oneOrMore>
                </rng:element>
            </rng:element>
        </rng:element>
    </rng:define>
    <!-- translation section type -->
    <rng:define name="translation-section" ns="http://www.tei-c.org/ns/1.0">
        <rng:attribute name="type">
            <rng:choice>
                <rng:value>section</rng:value>
            </rng:choice>
        </rng:attribute>
        <rng:oneOrMore>
            <rng:choice>
                <rng:zeroOrMore>
                    <rng:element name="head">
                        <rng:optional>
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>section</rng:value>
                                </rng:choice>
                            </rng:attribute>
                        </rng:optional>
                        <rng:text/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="milestone">
                        <rng:ref name="milestone"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="p">
                        <rng:ref name="paragraph"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ab">
                        <rng:ref name="ab"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="q">
                        <rng:ref name="q"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lg">
                        <rng:ref name="lg"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="list">
                        <rng:ref name="list"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:optional>
                    <rng:element name="trailer">
                        <rng:ref name="trailer"/>
                    </rng:element>
                </rng:optional>
                <rng:zeroOrMore>
                    <rng:element name="label">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <!-- Sub section -->
                <rng:zeroOrMore>
                    <rng:element name="div">
                        <rng:ref name="translation-section"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- translation chapter type -->
    <rng:define name="translation-chapter" ns="http://www.tei-c.org/ns/1.0">
        <rng:attribute name="type">
            <rng:choice>
                <rng:value>chapter</rng:value>
            </rng:choice>
        </rng:attribute>
        <!-- chapter number -->
        <rng:element name="head">
            <rng:attribute name="type">
                <rng:choice>
                    <rng:value>chapter</rng:value>
                </rng:choice>
            </rng:attribute>
            <rng:text/>
        </rng:element>
        <rng:oneOrMore>
            <rng:choice>
                <!-- chapter title -->
                <rng:element name="head">
                    <rng:attribute name="type">
                        <rng:choice>
                            <rng:value>chapterTitle</rng:value>
                        </rng:choice>
                    </rng:attribute>
                    <rng:text/>
                </rng:element>
                <!-- section title -->
                <rng:element name="head">
                    <rng:attribute name="type">
                        <rng:choice>
                            <rng:value>section</rng:value>
                        </rng:choice>
                    </rng:attribute>
                    <rng:text/>
                </rng:element>
                <rng:zeroOrMore>
                    <rng:element name="milestone">
                        <rng:ref name="milestone"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="p">
                        <rng:ref name="paragraph"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ab">
                        <rng:ref name="ab"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="q">
                        <rng:ref name="q"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lg">
                        <rng:ref name="lg"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="list">
                        <rng:ref name="list"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:optional>
                    <rng:element name="trailer">
                        <rng:ref name="trailer"/>
                    </rng:element>
                </rng:optional>
                <rng:zeroOrMore>
                    <rng:element name="label">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- bibliography section type -->
    <!-- recursive therefore defined -->
    <rng:define name="bibliography-section" ns="http://www.tei-c.org/ns/1.0">
        <rng:attribute name="type">
            <rng:choice>
                <rng:value>section</rng:value>
            </rng:choice>
        </rng:attribute>
        <rng:oneOrMore>
            <rng:choice>
                <rng:optional>
                    <rng:element name="head">
                        <rng:optional>
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>section</rng:value>
                                </rng:choice>
                            </rng:attribute>
                        </rng:optional>
                        <rng:text/>
                    </rng:element>
                </rng:optional>
                <rng:zeroOrMore>
                    <rng:element name="p">
                        <rng:ref name="paragraph"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="bibl">
                        <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
                            <rng:text/>
                        </rng:attribute>
                        <rng:oneOrMore>
                            <rng:choice>
                                <rng:text/>
                                <rng:zeroOrMore>
                                    <rng:element name="title">
                                        <rng:ref name="title"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="foreign">
                                        <rng:ref name="foreign"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lb">
                                        <rng:ref name="lb"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="ref">
                                        <rng:ref name="ref"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="author">
                                        <rng:data type="string"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="date">
                                        <rng:data type="string"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:choice>
                        </rng:oneOrMore>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="div">
                        <rng:ref name="bibliography-section"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- paragraph type -->
    <rng:define name="paragraph" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="tid">
                <rng:data type="integer"/>
            </rng:attribute>
        </rng:optional>
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="title">
                        <rng:ref name="title"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ptr">
                        <rng:ref name="ptr"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="foreign">
                        <rng:ref name="foreign"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="emph">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="distinct">
                        <rng:ref name="distinct"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="q">
                        <rng:ref name="q"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="term">
                        <rng:optional>
                            <rng:attribute name="type">
                                <rng:choice>
                                    <rng:value>ignore</rng:value>
                                </rng:choice>
                            </rng:attribute>
                        </rng:optional>
                        <rng:text/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!--  ab type -->
    <rng:define name="ab" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="tid">
                <rng:data type="integer"/>
            </rng:attribute>
            <rng:attribute name="type">
                <rng:choice>
                    <rng:value>mantra</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:zeroOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="foreign">
                        <rng:ref name="foreign"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="title">
                        <rng:ref name="title"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="emph">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="distinct">
                        <rng:ref name="distinct"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="q">
                        <rng:ref name="q"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:zeroOrMore>
    </rng:define>
    <!-- lg type -->
    <rng:define name="lg" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="tid">
                <rng:data type="integer"/>
            </rng:attribute>
        </rng:optional>
        <rng:oneOrMore>
            <rng:choice>
                <rng:zeroOrMore>
                    <rng:element name="l">
                        <rng:ref name="l"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="milestone">
                        <rng:ref name="milestone"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- l type -->
    <rng:define name="l" ns="http://www.tei-c.org/ns/1.0">
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="title">
                        <rng:ref name="title"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="foreign">
                        <rng:ref name="foreign"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="distinct">
                        <rng:ref name="distinct"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="emph">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- q type -->
    <rng:define name="q" ns="http://www.tei-c.org/ns/1.0">
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="p">
                        <rng:ref name="paragraph"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lg">
                        <rng:ref name="lg"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- trailer type -->
    <rng:define name="trailer" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="tid">
                <rng:data type="integer"/>
            </rng:attribute>
        </rng:optional>
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="title">
                        <rng:ref name="title"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="foreign">
                        <rng:ref name="foreign"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lb">
                        <rng:ref name="lb"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- translation list type -->
    <rng:define name="list" ns="http://www.tei-c.org/ns/1.0">
        <rng:oneOrMore>
            <rng:choice>
                <rng:zeroOrMore>
                    <rng:element name="milestone">
                        <rng:ref name="milestone"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="head">
                        <rng:attribute name="tid">
                            <rng:data type="integer"/>
                        </rng:attribute>
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:oneOrMore>
                    <rng:element name="item">
                        <rng:oneOrMore>
                            <rng:choice>
                                <rng:zeroOrMore>
                                    <!-- invalid in html -->
                                    <rng:element name="p">
                                        <rng:ref name="paragraph"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="title">
                                        <rng:ref name="title"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="list">
                                        <rng:ref name="list"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:element name="lb">
                                        <rng:ref name="lb"/>
                                    </rng:element>
                                </rng:zeroOrMore>
                            </rng:choice>
                        </rng:oneOrMore>
                        <rng:optional>
                            <rng:attribute name="n">
                                <rng:data type="string"/>
                            </rng:attribute>
                        </rng:optional>
                        <rng:optional>
                            <rng:attribute name="style">
                                <rng:choice>
                                    <rng:value>bullet l3</rng:value>
                                </rng:choice>
                            </rng:attribute>
                        </rng:optional>
                    </rng:element>
                </rng:oneOrMore>
            </rng:choice>
        </rng:oneOrMore>
        <rng:optional>
            <rng:attribute name="rend">
                <rng:choice>
                    <rng:value>bulleted</rng:value>
                    <rng:value>numbered</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
    </rng:define>
    <!-- milestone type -->
    <rng:define name="milestone" ns="http://www.tei-c.org/ns/1.0">
        <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
            <rng:text/>
        </rng:attribute>
        <rng:optional>
            <rng:attribute name="unit">
                <rng:choice>
                    <rng:value>chunk</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
    </rng:define>
    <!-- foreign type -->
    <rng:define name="foreign" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <!-- lang should be required -->
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                <rng:choice>
                    <rng:value type="language">en</rng:value>
                    <rng:value type="language">Bo-Ltn</rng:value>
                    <rng:value type="language">bo</rng:value>
                    <rng:value type="language">Sa-Ltn</rng:value>
                    <rng:value type="language">la</rng:value>
                    <rng:value type="language">pi</rng:value>
                    <rng:value type="language">zh</rng:value>
                    <rng:value type="language">fr</rng:value>
                    <rng:value type="language">de</rng:value>
                    <rng:value type="language">ja</rng:value>
                    <rng:value type="language">it</rng:value>
                    <rng:value type="language">el</rng:value>
                    <rng:value type="language">th</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:attribute name="type">
                <rng:choice>
                    <rng:value>term</rng:value>
                    <rng:value>quote</rng:value>
                    <rng:value>mantra</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="note">
                        <rng:ref name="note"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- title type -->
    <rng:define name="title" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="lang" ns="http://www.w3.org/XML/1998/namespace">
                <rng:choice>
                    <rng:value type="language">en</rng:value>
                    <rng:value type="language">Bo-Ltn</rng:value>
                    <rng:value type="language">bo</rng:value>
                    <rng:value type="language">Sa-Ltn</rng:value>
                    <rng:value type="language">la</rng:value>
                    <rng:value type="language">pi</rng:value>
                    <rng:value type="language">zh</rng:value>
                    <rng:value type="language">fr</rng:value>
                    <rng:value type="language">de</rng:value>
                    <rng:value type="language">ja</rng:value>
                    <rng:value type="language">it</rng:value>
                    <rng:value type="language">Chi-Ltn</rng:value>
                    <rng:value type="language">el</rng:value>
                    <rng:value type="language">th</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:attribute name="type">
                <rng:choice>
                    <rng:value>longTitle</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:attribute name="level"/>
        </rng:optional>
        <rng:text/>
    </rng:define>
    <!-- distinct type -->
    <rng:define name="distinct" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="type">
                <rng:choice>
                    <rng:value>term</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:text/>
    </rng:define>
    <!-- note type -->
    <rng:define name="note" ns="http://www.tei-c.org/ns/1.0">
        <rng:attribute name="id" ns="http://www.w3.org/XML/1998/namespace">
            <rng:text/>
        </rng:attribute>
        <rng:attribute name="index">
            <rng:data type="integer"/>
        </rng:attribute>
        <rng:optional>
            <rng:attribute name="place">
                <rng:choice>
                    <rng:value>end</rng:value>
                </rng:choice>
            </rng:attribute>
        </rng:optional>
        <rng:oneOrMore>
            <rng:choice>
                <rng:text/>
                <rng:zeroOrMore>
                    <rng:element name="foreign">
                        <rng:ref name="foreign"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="title">
                        <rng:ref name="title"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="distinct">
                        <rng:ref name="distinct"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ref">
                        <rng:ref name="ref"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="emph">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="ptr">
                        <rng:ref name="ptr"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="lg">
                        <rng:ref name="lg"/>
                    </rng:element>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                    <rng:element name="abbr">
                        <rng:data type="string"/>
                    </rng:element>
                </rng:zeroOrMore>
            </rng:choice>
        </rng:oneOrMore>
    </rng:define>
    <!-- ref type -->
    <rng:define name="ref" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="cRef">
                <rng:data type="string"/>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:attribute name="target">
                <rng:data type="anyURI"/>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:attribute name="type">
                <rng:data type="string"/>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:text/>
        </rng:optional>
    </rng:define>
    <!-- lb type -->
    <rng:define name="lb" ns="http://www.tei-c.org/ns/1.0">
        <rng:empty/>
    </rng:define>
    <!-- ptr type -->
    <rng:define name="ptr" ns="http://www.tei-c.org/ns/1.0">
        <rng:optional>
            <rng:attribute name="target">
                <rng:data type="string"/>
            </rng:attribute>
        </rng:optional>
        <rng:optional>
            <rng:text/>
        </rng:optional>
    </rng:define>
</rng:grammar>